layout {
  cwd "${HOME}/Documents/js-clients"
  pane_template name="main" {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    children
  }

  tab name="Editor" {
    main {
      pane focus=true edit="."
    }
  }

  tab name="Git" {
    main {
      pane command="lazygit"
    }
  }

  tab name="Shell" cwd="packages/games-evo/evo-filthyrich" {
    main {
      pane split_direction="vertical" {
        pane command="yarn" {
          args "start"
        }
        pane
      } 
    }
  }
}
