layout {
  pane_template name="main" {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    children
  }

  tab name="Editor" {
    main {
      pane edit="."
    }
  }

  tab name="Terminal" {
    main {
      pane split_direction="vertical" {
        pane command="ls" {
          args "-la"
        }
        pane command="sh" {
          args "-lc" "ls; exec \"${SHELL:-sh}\" -i"
        }
      } 
    }
  }
}
